$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #111;
$color__text-input: #111;
$color__text-input-focus: #111;
$color__link: inherit;
$color__link-visited: inherit;
$color__link-hover: inherit;
$color__text-main: #111;

$color__border-input: #ccc;
$color__border-abbr: #666;
